{% extends 'ZKEmployeeBundle::layout.html.twig' %}

{% block title parent() ~ " - Daftar Pegawai" %}

{% block body %}

<h2>Daftar Pegawai</h2>

<table>
    <thead>
        <tr>
            <th>NIP</th>
            <th>Nama</th>
            <th>Umur</th>
            <th>JK/Status</th>
            <th>No. Telepon</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>

{% endblock %}