/* --------------------------------------------------------------

   forms.css
   * Sets up some default styling for forms
   * Gives you classes to enhance your forms

   Usage:
   * For text fields, use class .title or .text
   * For inline forms, use .inline (even when using columns)

-------------------------------------------------------------- */

/* 
	A special hack is included for IE8 since it does not apply padding 
	correctly on fieldsets
 */ 
label       { font-weight: normal; }
fieldset    { padding:0 1.4em 1.4em 1.4em; margin: 0 0 1.5em 0; border: 1px solid #ccc; }
legend      { font-weight: bold; font-size:1.2em; margin-top:-0.2em; margin-bottom:1em; }

fieldset, #IE8#HACK { padding-top:1.4em; } 
legend, #IE8#HACK { margin-top:0; margin-bottom:0; }

/* Form fields
-------------------------------------------------------------- */

/* 
  Attribute selectors are used to differentiate the different types 
  of input elements, but to support old browsers, you will have to 
  add classes for each one. ".title" simply creates a large text  
  field, this is purely for looks.
 */
input, textarea, select, option { font-family: arial,sans-serif; font-size: 11px }
input[type=text], input[type=password],
input.text, input.title,
textarea {
  background:#fff url(../image/input-bg.png) no-repeat top;
  border:1px solid #bbb;
  font-weight: inherit;
}
input[type=text]:hover, input[type=password]:hover,
input.text:hover, input.title:hover,
textarea:hover {
  border-color:#666;
}
input[type=text]:focus, input[type=password]:focus,
input.text:focus, input.title:focus,
textarea:focus {
  border-color:#4D90FE;
}
select {  background:#fff url(../image/input-bg.png) no-repeat top;border:1px solid #bbb;}
select:hover {border-color:#666;}
select option { padding-left:5px;}

input[type=text], input[type=password],
input.text, input.title,
textarea, select {
  margin:0.2em 0; padding:4px;
}

input.text,
input.title   { width: 300px; padding:5px; }
input.title   { font-size:1.5em; }


/* 
  This is to be used on forms where a variety of elements are 
  placed side-by-side. Use the p tag to denote a line. 
 */
form.inline { line-height:3; }
form.inline p { margin-bottom:0; }


/* Success, info, notice and error/alert boxes
-------------------------------------------------------------- */

.error,
.alert, 
.notice,
.success, 
.info 			{ padding: 5px; margin-bottom: 1em; border: 1px solid #ddd; font-size:11px; }

input[type=text].hint, input[type=password].hint,
input.text.hint, input.title.hint,
textarea.hint {border-color: #DD4B39; }

.error, .alert { background: #fbe3e4; color: #333; border-color: #DD3C10; }
.notice     { background: #fff6bf; color: #514721; border-color: #ffd324; }
.success    { background: #e6efc2; color: #264409; border-color: #c6d880; }
.info 			{ background: #d5edf8; color: #205791; border-color: #92cae4; }
.error a, .alert a { color: #8a1f11; }
.notice a   { color: #514721; }
.success a  { color: #264409; }
.info a			{ color: #205791; }
